{% extends "base_generic.html" %}
{% block content %}
{% load static %}
        <!--================Post Slider Area =================-->
        <section class="post_slider_area">
			<div class="post_slider_inner owl-carousel">
                {% for post in post_latest %}
                    {% if forloop.first %}
                    <div class="item">
                        <div class="post_s_item">
                            <div class="post_img">
                                {% if post.title_image %}
                                    <div class="post-full-width">
                                        <img src="{{ post.title_image.url }}" alt="" width="500px" height="400px">
                                    </div>
                                {% endif %} 
                            </div>
                            <div class="post_text">
                                <a class="cat" href="#">
                                    {% for c in post.category.all %}
                                        {{ c }}
                                        {% if not forloop.last %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                </a>
                                <a href="{{post.get_absolute_url}}"><h4>{{post.title}}</h4></a>
                                <p>
                                    {% if post.is_content_more100 %}
                                        {{post.get_content_under100}}
                                    {% else %}
                                        {{post.content}}
                                    {% endif %}
                                </p>
                                <div class="date">
                                    <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{post.createDate}}</a>
                                    <!-- <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="item">
                        <div class="post_s_item">
                            <div class="post_img">
                                    {% if post.title_image %}
                                        <div class="post-full-width">
                                            <img src="{{ post.title_image.url }}" alt="" width="500px" height="400px">
                                        </div>
                                    {% endif %} 
                            </div>
                            <div class="post_text">
                                <a class="cat" href="#">
                                    {% for c in post.category.all %}
                                        {{ c }}
                                        {% if not forloop.last %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                </a>
                                <a href="{{post.get_absolute_url}}"><h4>{{post.title}}</h4></a>
                                <p>
                                    {% if post.is_content_more100 %}
                                        {{post.get_content_under100}}
                                    {% else %}
                                        {{post.content}}
                                    {% endif %}
                                </p>
                                <div class="date">
                                    <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{post.createDate}}</a>
                                    <!-- <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
			</div>
        </section>
        <!--================End Post Slider Area =================-->
        
        <!--================Blog Area =================-->
        <section class="blog_area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">
                            {% for post in post_latest %}
                                {% if forloop.first %}
                                <article class="blog_style1">
                                    <div class="blog_img">
                                            {% if post.title_image %}
                                                <div class="post-full-width">
                                                    <img src="{{ post.title_image.url }}" alt="" width="500px" height="500px" >
                                                </div>
                                            {% endif %} 
                                    </div>
                                    <div class="blog_text">
                                        <div class="blog_text_inner">
                                            <a class="cat" href="#">
                                                {% for c in post.category.all %}
                                                    {{ c }}
                                                    {% if not forloop.last %}
                                                        ,
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                            <a href="{{post.get_absolute_url}}"><h4>{{post.title}}</h4></a>
                                            <p>
                                                {% if post.is_content_more300 %}
                                                    {{post.get_content_under300}}
                                                {% else %}
                                                    {{post.content}}
                                                {% endif %}
                                            </p>
                                            <div class="date">
                                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{post.createDate}}</a>
                                                <!-- <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a> -->
                                            </div>	
                                        </div>
                                    </div>
                                </article>
                                {% else %}
                                <article class="blog_style1">
                                    <div class="blog_img">
                                            {% if post.title_image %}
                                                <div class="post-full-width">
                                                    <img src="{{ post.title_image.url }}" alt="">
                                                </div>
                                            {% endif %} 
                                    </div>
                                    <div class="blog_text">
                                        <div class="blog_text_inner">
                                            <a class="cat" href="#">
                                                {% for c in post.category.all %}
                                                    {{ c }}
                                                    {% if not forloop.last %}
                                                        ,
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                            <a href="{{post.get_absolute_url}}"><h4>{{post.title}}</h4></a>
                                            <p>
                                                {% if post.is_content_more300 %}
                                                    {{post.get_content_under300}}
                                                {% else %}
                                                    {{post.content}}
                                                {% endif %}
                                            </p>
                                            <div class="date">
                                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{post.createDate}}</a>
                                                <!-- <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a> -->
                                            </div>	
                                        </div>
                                    </div>
                                </article>
                                {% endif %}
                            {% endfor %}
                            
                            <nav class="blog-pagination justify-content-center d-flex">
		                        <ul class="pagination">
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
		                            <li class="page-item active"><a href="#" class="page-link">01</a></li>
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
		                        </ul>
		                    </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search Posts">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" src='{% static "img/blog/author.jpg" %}' alt="" width="150px" height="150px">
                                <h4>김주은</h4>
                                <p>1701068</p>
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-github"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                                <p></p>
                                <div class="br"></div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
        
        
{% endblock %}